{% extends "layouts/base.html" %}

{% block title %} Productos {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main class="container">

    <h2 class="mt-5 text-muted">Listado de productos</h2>
    <hr class="mb-5">

    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">

        
        <div class="col">
            <a href="{% url 'add_product' %}">
            <div class="card h-100 add_card" style="width: 18rem;">
                <div class="card-body text-center d-flex align-items-center justify-content-center">
                    <i class="fas fa-plus fa-4x add_icon"></i>
                </div>
            </div>
            </a>
        </div>
        

        {% for product in products %} 
        <div class="col">
            <div class="card h-100 {% if product.stock < 1%} deshabilitado {% endif %}" style="width: 18rem;">
                <img src="/static/img/cactus-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h3 class="card-title">{{ product.name }} {% if product.stock == -1 %} <i class="fas fa-times-circle fa-xs text-danger"></i> {% else %} <i class="fas fa-check-circle fa-xs text-primary"> </i>{% endif %} </h3>
                <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{% url 'product_edit' product=product.id %}" class="btn btn-primary">Modificar</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</main>

{% endblock content %}
